<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

    <div class="card-wrapper">

        <div class= "card">
    
            <h1 class ="center"> Sign In</h1>
    
            <form name ="login_form">
                
                <label for="email">Email</label>
                <input type = "email" name = "email" class="field" required>
                
                <label for="password">Password</label>
                <input type = "password" name = "password" class="field" required>
            
                <p class ="error error--hidden"></p>
            
                <input type = "submit" value="Log In" class="btn">
    
            </form>
            New user? <a href="/register"> Register here! </a>
    
        </div>
    
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
 
 </body>
 </html>  
